$font-size-root:         1.6rem;

$ah: inherit;
$a: inherit;
$main:#303032;
$secd:#fff;

$hover: #F58F00;

$screenXS:               0;
$screenS:                576px;
$screenM:                768px;
$screenL:                1024px;
$screenXL:               1280px;
$screenXXL:              1440px;

$secondaryFont:          'montserrat', sans-serif;
$primaryFont:            'montserrat',  sans-serif;